html {
	color: #424242;
}
.problem-section {
	background-color: #009688; 
	height: 20em;
}
.ui-white{
	color: #f5f5f5;
	font-size: 5em;
}
.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}
#answer_input {
	font-size: 2em;
}
#morse {
	color: #f5f5f5;
	position: relative;
}
.table {
	padding: .2em;
}
.result {
	text-align: center;
}